.userInfo-bar {
  // @include flex;
  // // margin-bottom: 28px;
  // height: 80px;
  // position: sticky;
  // top: 0;
  // left: 0;
  // z-index: 10;
  // background-color: var(--gray100);
  // &__inner {
  //   @include flex(space-between, center, row);
  //   // height: 40px;
  //   width: calc(100% - 40px);

  //   .logo {
  //     height: 24px;
  //     object-fit: contain;
  //   }
  //   .profile {
  //     @include same(40px);
  //     object-fit: contain;
  //     background-color: #D9D9D9;
  //     border-radius: 50%;
  //   }
  // }
  @include flex(space-between, center, row);
  height: 40px;
  margin-bottom: 28px;

  .logo {
    height: 24px;
    object-fit: contain;
  }
  .profile {
    @include same(40px);
    object-fit: contain;
    background-color: #D9D9D9;
    border-radius: 50%;
  }
}

.loading-container {
  @include flex;
  height: 100%;
  .MuiCircularProgress-root {
    color: var(--purple07);
  }
}

.go-back-title-bar {
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--white);
  z-index: 10;
  &__inner {
    @include flex(space-between, center, row);
    padding: 10px 15px;
    align-items: center;
    &::after {
      @include same(20px);
      content: "";
      display: block;
    }
    .icon {
      @include same(20px);
      cursor: pointer;
    }
    .title {
      @include string(16px, 24px, normal, 600, center, var(--black));
    }
  }
}

.home {  
  background-color: var(--gray100);
  padding: 20px 0 40px;
  height: 100%;
  .notice-card {
    .swiper {
      background-color: var(--gray200);
      border-radius: 8px;
      .swiper-pagination {
        // text-align: right;
        // transform: translateX(12px);
        right: 12px;
        left: auto;
        width: auto;
        .swiper-pagination-bullet {
          @include same(5px);
          margin: 0 2.5px;
          background-color: var(--gray400);
          opacity: 1 !important;
          &.swiper-pagination-bullet-active {
            background-color: var(--purple06);          
          }
        }
      }
      .swiper-wrapper {
        .swiper-slide {
          .notice-card {
            @include flex(flex-start, center, row);
            gap: 10px;
            padding: 17px 12px;
            &__tag {
              @include flex;
              min-width: 21px;
              height: 18px;
              padding: 0 8px;
              background-color: var(--black);
              border-radius: 20px;
              p {
                @include string(12px, 16px, normal, 600, center, var(--white));
              }
            }
            &__title {
              @include string(14px, 22px, normal, 500, left, var(--black));
              white-space: nowrap;
              word-break: break-all;
              text-overflow: ellipsis;
              overflow: hidden;
              &.cursor {
                cursor: pointer;
              }
            }
          }
        }
      }
    }   
  }
  
  .program-wrapper {
    min-height: 213px;
    margin-top: 40px;
    padding-bottom: 80px;
    .program-title {
      margin-bottom: 15px;
      p {      
        @include string(20px, 135%, 0.1px, 600, left, var(--black));
      }
    }
    .program-card {
      .swiper {
        .swiper-wrapper {
          box-sizing: content-box;
          .swiper-slide {
            width: fit-content !important;
            @include flex;
            .MuiSkeleton-root {
              border-radius: 16px;
            }
            .slide-card {
              @include disableDrag;
              @include flex(space-between, flex-start);
              width: 164px;
              min-width: 164px;
              height: 213px;
              min-height: 213px;  
              cursor: pointer;
  
              .card-cover {
                @include same(164px);
                position: relative;
                &__coming {
                  @include flex;
                  @include same(100%);
                  position: absolute;
                  top: 0;
                  left: 0;
                  z-index: 1;
                  background-color: #000000b3;
                  border-radius: 8px;
                  p {
                    @include string(12px, 16px, normal, 600, center, var(--white));
                  }
                }
                &__on {
                  @include flex;
                  position: absolute;
                  top: 10px;
                  left: 10px;
                  z-index: 1;
                  background-color: var(--pink10);
                  border-radius: 4px;                
                  padding: 2px 7px;
                  p {
                    @include string(13px, normal, -0.845px, 700, center, var(--white));
                  }
                }
                &__image {
                  @include same(100%);
                  object-fit: contain;
                  border-radius: 8px;
                }
              }
              .card-info {
                margin-top: 8px;
                padding: 0 4px;
                width: 100%;
                &__title {
                  @include string(16px, 24px, normal, 500, left, var(--gray900));
                  white-space: nowrap;
                  word-break: break-all;
                  text-overflow: ellipsis;
                  overflow: hidden;
                }
                &__time {
                  margin-top: 1px;
                  display: grid;
                  grid-template-columns: 11px auto;
                  gap: 3px;
                  align-items: center;
                  .time-icon {
                    @include same(11px);
                  }
                  p {                  
                    @include string(12px, 16px, normal, 600, left, var(--gray600));
                  }
                }
              }
            }
          }
        }
      } 
    }  
  }
  
  .latest-card {
    min-height: 280px;
    margin-top: 24px;
    .swiper {
      .swiper-wrapper {
        box-sizing: content-box;
        .swiper-slide {
          width: fit-content !important;
          @include flex;
          .MuiSkeleton-root {
            border-radius: 16px;
          }
          .slide-card {
            @include disableDrag;
            @include flex(flex-start, flex-start);
            width: 276px;
            min-width: 276px;
            height: 280px;
            min-height: 280px;
            border-radius: 16px;    
            background-color: var(--white);
            &__inner {
              @include flex(space-between, flex-start);
              padding: 32px 24px;
              height: 100%;
              width: calc(100% - 48px);
              .top-inner {
                @include flex(flex-start, flex-start);
                .card-title {
                  display: grid;
                  grid-template-columns: 40px auto;
                  gap: 8px;
                  align-items: center;
                  &__profile {
                    @include same(40px);
                    background-color: var(--gray500);
                    border-radius: 50%;
                  }
                  &__desc {
                    @include flex(flex-start, center, row);
                    gap: 3px;
                   .id {
                      @include string(16px, 24px, normal, 700, left, var(--purple08));
                    }
                   .info {
                      @include string(16px, 24px, normal, 700, left, var(--gray900));
                    } 
                  }
                }
                .card-content {
                  margin-top: 12px;
                  display: grid;
                  grid-auto-rows: auto;
                  gap: 16px;
                  &__desc {
                    @include string(14px, 22px, normal, 500, left, var(--gray800));
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                  }
                  &__tags {
                    @include flex(flex-start, center, row);
                    flex-wrap: wrap;
                    gap: 8px;
                    li {
                      @include flex;
                      height: 24px;
                      padding: 0 8px;
                      border-radius: 100px;
                      background-color: var(--purple01);
                      p {                  
                        @include string(14px, 22px, normal, 500, left, var(--purple07));
                      }
                    }
                  }
                }
              }
              .card-result-btn {
                @include flex;
                margin-top: 32px;
                @include size(100%, 44px);
                background-color: var(--purple06);
                border-radius: 8px;
                p {
                  @include string(16px, 24px, normal, 700, center, var(--white));
                }
              }
            }
          }
        }
      }
    }   
  }
}

.letterbox {
  position: relative;
  background-color: var(--white);
  &.isHeight {
    height: calc(100% - 92px);
  }
    
  &__not {
    @include flex;
    height: calc(100% - 92px);
    .rabbit {
      height: 280px;
      aspect-ratio: 300/280;
    }
    p {
      @include string(16px, 24px, normal, 600, center, var(--gray800));
      margin-top: 16px;
    }
  }

  &__inner {
    @include breakpoint(tablet) {
      padding-left: 44px;
      padding-right: 44px;
    }
    padding-top: 28px;
    padding-bottom: 80px;
    .letter-list {
      display: grid;
      grid-auto-rows: auto;
      gap: 25px;

      .loading-skeleton {
        display: grid;
        grid-template-columns: 128px auto;
        gap: 8px;
        align-items: center;
      }

      .letter-item {
        cursor: pointer;
        &__inner {
          display: grid;
          grid-template-columns: 128px auto;
          gap: 8px;
          align-items: flex-end;
          .letter-img {
            width: 100%;
            height: 100%;
            aspect-ratio: 1/1;
            object-fit: contain;
          }
          .letter-info {
            @include flex(flex-start, flex-start);
            .stamp-img {
              @include size(37.48px, 28px);
            }
            &__content {
              margin: 8px 0 12px;
              .date {
                @include string(12px, 16px, normal, 600, left, var(--black));
              }
              .desc {
                @include string(12px, 16px, normal, 600, left, var(--gray600));
              }
            }
          }
        }
      }
    }
  }
}

.write {
  background-color: var(--gray100);
  height: 100%;
  position: relative;

  &__inner {
    display: grid;
    grid-template-rows: 64px auto;
    height: calc(100% - 48px);
    padding-bottom: 48px;
  
    .custom-app-bar {
      @include flex(flex-end, center, row);
      background-color: transparent;
      box-shadow: none;
      padding-right: 20px;
      height: 64px;
      img {
        @include same(16px);
        cursor: pointer;
      }
    }
    .write-container {
      display: grid;
      grid-template-rows: auto 1fr auto;
      .content-head {
        @include flex(flex-end, center, row);
        height: 31px;
        margin-top: 27px;
      }
      position: relative;
      .asset-container {
        position: absolute;
        left: 35px;
        top: -17.5px;
        z-index: 1;
        .asset-img {
          // @include size(72px, 90px);
          aspect-ratio: 160/163;
          height: 55px;
        }
        .speech-bubble {
          @include string(12px, 16px, normal, 600, left, var(--white));
          margin-bottom: 13px;
          margin-left: 18px;
          background-color: var(--purple07);
          padding: 6px 14px;
          border-radius: 20px;
          max-width: 300px;
          position: relative;
          z-index: 2;
          &::after {
            @include size(16.76px, 13.12px);
            content: "";
            position: absolute;
            bottom: -10px; /* 꼬리의 아래쪽 위치 조정 */
            left: 27px;    /* 꼬리의 왼쪽 위치 조정 */
            background: url($G-path-content + 'speech-bubble-tail.svg') $G-img-contain;
          }
        }
      }
      .content-body {
        margin-top: 16px;
        margin-bottom: 27px;
        .write-textarea-wrapper {
          display: grid;
          grid-template-rows: 1fr auto;
          gap: 15px;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.70);
          box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.05);
          backdrop-filter: blur(2px);
          border-radius: 8px;
          overflow-y: auto;
          .write-textarea {
            @include scrollCustomSmall(var(--purple06));
            @include string(16px, 24px, normal, 500, left, var(--black));
            padding: 34px 34px 0;
            resize: none;
            background-color: transparent;
            &::placeholder {
              @include string(16px, 24px, normal, 500, left, var(--gray700));                
            }
          }
          .string-length {
            @include flex(flex-end, center, row);
            padding: 0 16px 16px;
            p {
              @include string(16px, 24px, normal, 500, right, var(--black));
            }
          }
        }
      }
      .content-foot {
        @include flex(space-between, center, row);
        .limit-wrapper {
          display: grid;
          grid-template-columns: 39px auto;
          gap: 21.96px;
          align-items: center;
          .letter-paper {
            @include flex;
            @include size(39.131px, 49px);
            position: relative;
            background: url($G-path-content + 'letter-paper.png') $G-img-contain;              
            p {
              @include string(12px, 16px, normal, 600, center, var(--purple09));
              transform: translate(1.5px, -3px);
            }
            &::after {
              @include size(15.78px, 17.98px); 
              content: "";
              display: block;
              background: url($G-path-content + 'pencil.png') $G-img-contain;  
              position: absolute;
              bottom: 7px;
              right: -7.5px;
            }
          }
          .reflash-timer {
            &__desc {
              @include string(9px, 16px, normal, 600, left, var(--gray600));
            }
            &__inner {
              display: grid;
              grid-template-columns: 15px auto;
              gap: 6px;
              align-items: center;
              .timer-num {
                @include string(16px, 24px, normal, 700, left, var(--black));
              }
            }
          }
        }
        .submit {
          @include size(auto, 44px);
          @include string(16px, 24px, normal, 700, center, var(--white));
          border-radius: 8px;
          padding: 10px 20px;
          background-color: var(--purple06);
  
          &:disabled {
            background-color: var(--gray300);
            color: var(--gray600);
            cursor: default;
          }
        }
      }
    }
  }
}

.login {
  background-color: var(--white);
  height: 100%;
  &__inner {
    display: grid;
    grid-template-rows: 1fr 100px;
    gap: 24px;
    padding: 24px 16px 40px;
    height: calc(100% - 64px);
    .body {
      @include flex;
      height: 100%; 
      .rabbit {
        height: 288px;
        aspect-ratio: 1/1;
      }
      .logo {
        height: 44px;
        aspect-ratio: 204/44;
        margin-top: 12px;
      }
    }
    .foot {
      display: grid;
      grid-auto-rows: repeat(2, auto);
      gap: 16px;
      align-items: center;
      .link {
        @include string(12px, 16px, normal, 600, center);
        text-decoration-line: underline;
        color: var(--gray600) !important;
      }
      .login-btn {
        @include string(16px, 24px, normal, 700, center, var(--black));
        display: grid;
        grid-template-columns: 20px auto;
        gap: 8px;
        align-items: center;
        justify-content: center;
        background-color: #FEE500;
        border-radius: 8px;
        height: 56px;

        &.not {
          &::before {
            @include same(20px);
            content: "";
            display: block;
            background: url($G-path-icon + 'talk.svg') $G-img-contain;
          }
        }
      }
    }
  }
}

.error {
  background-color: var(--white);
  height: 100%;
  &__inner {
    padding: 20px;
    display: grid;
    grid-template-rows: 40px 1fr 56px;
    height: calc(100% - 40px);

    .head {
      @include flex(flex-start, center, row);
      height: 40px;
      .logo {
        height: 24px;
        object-fit: contain;
      }
    }
    .body {
      display: grid;
      grid-template-rows: 255px auto;
      justify-items: center;
      height: calc(100% - 83px); 
      margin-top: 83px;
      .img-wrapper {
        @include flex;
        height: 255px;
        .rabbit {
          height: 255px;
          aspect-ratio: 1/1;
        }
        .img4xx {
          height: 255px;
          aspect-ratio: 288/255;
        }
        .img5xx {
          height: 184.76px;
          aspect-ratio: 258.96/184.76;
        }
      }
      &__desc {
        @include flex;
        .code {
          @include string(20px, 28px, normal, 700, center, var(--black));
          margin-bottom: 20px;
        }
        .message {
          @include string(14px, 22px, normal, 500, center, var(--gray700));
          min-height: 44px;
        }
      }
    }
    .foot {
      display: grid;
      grid-auto-rows: auto;
      button {
        @include string(16px, 24px, normal, 700, center, var(--white));
        background-color: var(--purple06);
        border-radius: 8px;
      }
    }
  }
}

.result {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 120px;
  // background: linear-gradient(174deg, #210245 23.31%, #7331B7 60.29%, #F0C9F3 86.26%);
  background: linear-gradient(174deg, #210245 23.31%, #7331B7 65.29%, #F0C9F3 86.26%);
  position: relative;

  &::after {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    display: block;
    @include same(100%);
    background: url($G-path-content + 'bg-start-item.png') $G-img-contain;
    opacity: 0.8;
  }


  &.layout {
    .result__inner .body {
      .script {
        @include flex(center, flex-start);
        padding-left: 20px;
        padding-bottom: 20px;
        &__inner {
          p {
            @include string(20px, 28px, -0.08px, 700, left, var(--white));
            &:not(:last-of-type) {
              margin-bottom: 12px;
            }
            opacity: 0;          
          }
    
          .desc1 {
            animation: fadein 1.2s;
            animation-fill-mode: forwards;
            animation-delay: 1.2s;
          }
          .desc2 {
            animation: fadein 1.2s;
            animation-fill-mode: forwards;
            animation-delay: 3.2s;
          }
          .desc3 {
            animation: fadein 1.2s;
            animation-fill-mode: forwards;
            animation-delay: 5.2s; 
          }
        }
      }
      .assets-container {
        .box {
          .rabbit {
            @include size(208px, 203px);
          }
        }
      }
    }
  }


  &__inner {
    padding: 20px 20px 0;
    display: grid;
    grid-template-rows: 40px 1fr;
    gap: 12px;
    position: relative;
    z-index: 1;

    .head {
      @include flex(flex-start, center, row);
      height: 40px;
      .logo {
        height: 24px;
        object-fit: contain;
      }
    }
    .body {
      display: grid;
      grid-template-rows: 1fr auto;
      height: 100%;
      .bubble-container {        
        @include string(12px, 16px, normal, 600, left, var(--white));
        border-radius: 8px;
        backdrop-filter: blur(2px);
        position: relative;
        &::after {
          @include same(20px);
          content: "";
          position: absolute;
          bottom: -19px; /* 꼬리의 아래쪽 위치 조정 */
          left: 50%;    /* 꼬리의 왼쪽 위치 조정 */
          transform: translate(-50%);
          transition: background 0.25s ease;
        }
        &__inner {
          @include scrollCustomSmall;
          // height: 378px;
          overflow-y: auto;
          max-height: calc(var(--pvh) - 446px);
          padding: 34px 34px 0;
          p {
            @include string(16px, 24px, normal, 500, left, var(--white));
          }
        }
        transition: background-color 0.25s ease;
        &.type-T {
          background-color: rgba(102, 163, 255, 0.80);
          &::after {
            background: url($G-path-content + 'speech-bubble-tail-b.svg') $G-img-contain;
          }
        }
        &.type-F {
          background-color: rgba(255, 145, 153, 0.90);
          &::after {
            background: url($G-path-content + 'speech-bubble-tail-p.svg') $G-img-contain;
          }
        }
      }
      .assets-container {
        margin-top: 10px;
        display: grid;
        grid-template-rows: auto 37px;
        gap: 120px;
        .box {
          position: relative;
          height: 37px;
          &::after {
            background-color: var(--purple10);
            display: block;
            content: '';
            position: absolute;
            left: -2000px;
            right: -2000px;
            top: 0;
            bottom: 0;
            z-index: -1;
          }

          .desc {
            position: absolute;
            bottom: 136px;
            right: 183px;
            font-family: 'Ownglyph_kimkonghae';
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
            text-align: right;
            color: var(--white);
          }
          
          .mic {
            position: absolute;
            bottom: 35px;
            right: 210px;
          }
          .rabbit {
            position: absolute;
            bottom: 8px;
            right: 0;
            transform: translateX(10px);
          }
        }
      }
    }
  }
  &__footer {
    width: 100%;
    background-color: var(--gray100);
    position: relative;
    z-index: 1;
    .footer-inner {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
      align-items: center;
      padding: 38px 20px;
      margin: auto;
      height: 44px;
      .result-btn {
        @include string(16px, 24px, normal, 700, center, var(--gray900));
        display: grid;
        grid-template-columns: 24px auto;
        gap: 8px;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--gray200);
        background-color: var(--white);
        border-radius: 8px;
        padding: 10px;
        width: 100%;

        @each $icon in again, home {
          &.#{$icon} {
            &::before {
              @include same(100%);
              background: url($G-path-icon + '#{$icon}.svg') $G-img-contain;
              content: '';
              display: block;
            
            }
          } 
        }
      }
    }
  }
}

.register {
  height: 100%;
  display: grid;
  grid-auto-rows: auto;
  &__inner {
    background-color: var(--gray100);
    padding: 20px;
    display: grid;
    grid-template-rows: 40px 1fr 56px;
    gap: 24px;
    align-items: space-between;
    .head {
      @include flex(flex-start, center, row);
      height: 40px;
      .logo {
        height: 24px;
        object-fit: contain;
      }
    }
    .body {
      .letter-content {
        padding: 8px;
        background-color: var(--white);
        border-radius: 8px;
        .letter-content-border {
          @include flex;
          border-radius: 8px;
          border: 2px solid var(--purple03);
          padding: 24px 12px;
          .title {
            @include string(16px, 24px, normal, 700, center, var(--black));
          }
          .content {
            @include flex;
            .desc {
              @include flex;
              margin: 19px 0;
              li {
                font-family: 'Ownglyph_kimkonghae';
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px;
                text-align: center;
                color: var(--gray900);
              }
            }
            .info {
              font-family: 'Ownglyph_kimkonghae';
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 16px;
              text-align: center;
              color: var(--gray500);
            }
          }
          .img-layout {
            @include flex(space-between, flex-end, row);
            width: 100%;
            margin-top: 10px;
            .post {
              font-family: 'Ownglyph_kimkonghae';
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              color: var(--purple06);
            }
            .stamp {
              @include size(53.55px, 40px);
            }
          }
        }
      }

      .user-data-container {
        display: grid;
        grid-auto-rows: auto;
        gap: 24px;
        margin-top: 36px;
        width: 100%;
        .data-box {
          width: 100%;
          &.rows {
            @include flex(space-between, center, row);
          }
          &__title {
            margin-left: 8px;
            p {
              @include string(12px, 16px, normal, 600, left, var(--gray700));    
              display: inline-block;          
            }
            span {
              @include string(12px, 16px, normal, 600, left, var(--gray500));    
              margin-left: 2px;
            }
          }
          .user-nickname {
            @include string(16px, 24px, normal, 400, left, var(--black));              
            width: 100%;
            padding: 16px;
            border: 1px solid var(--gray200);
            box-sizing: border-box;
            margin-top: 4px;
            border-radius: 4px;
            background: var(--white);
            &::placeholder {
              @include string(16px, 24px, normal, 400, left, var(--gray500));                
            }
          }
          .type-btn-wrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 15px;
            align-items: center;
            padding: 8px;
            height: 84px;
            .type-btn {
              @include string(50px, normal, normal, 500, center, var(--gray300));   
              height: 100%;
              border-radius: 8px;
              background-color: var(--white);
              &.F {
                color: var(--white);
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.04), 0px 3px 8px 0px rgba(0, 0, 0, 0.15), 0px 3px 1px 0px rgba(0, 0, 0, 0.06);
                background: var(--pink06);
              }
              &.T {
                color: var(--white);
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.04), 0px 3px 8px 0px rgba(0, 0, 0, 0.15), 0px 3px 1px 0px rgba(0, 0, 0, 0.06);
                background: var(--blue04);
              }
            }
          }
        }
      }
    }
    .foot {
      display: grid;
      grid-auto-rows: auto;
      button {
        @include flex;
        @include string(16px, 24px, normal, 700, center, var(--white));
        background-color: #9452D6;
        border-radius: 8px;
        // padding: 16px 8px;
        min-height: 56px;
  
        &:disabled {
          background-color: var(--gray300);
          color: var(--gray600);
          cursor: default;
        }
      }
    }
  }
}


.myPage {
  &__inner {
    .user-zone {      
      display: grid;
      grid-template-rows: auto 44px;
      gap: 28px;
      background-color: var(--gray100);
      padding: 50px 20px 16px;
      &__data {
        display: grid;
        grid-template-columns: 90px auto;
        gap: 16px;
        align-items: center;
        padding-right: 47px;
        .profile {
          @include same(90px);
          border-radius: 50%;
          overflow: hidden;
        }
        .nickname {
          padding: 0 8px 4px;
          border-bottom: 1px solid var(--black);
          p {
            @include string(16px, 24px, normal, 700, left, var(--black));
          }
        }
      }
      .correction-btn {
        @include string(16px, 24px, normal, 700, center, var(--black));
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
        align-items: center;
        justify-content: center;
        background-color: var(--white);
        border-radius: 8px;
        border: 1px solid var(--gray200);

        &::before {
          @include same(20px);
          transform: translateY(-1px);
          content: "";
          display: block;
          background: url($G-path-icon + 'icon-write-b.svg') $G-img-contain;
        }
      }
    }
    .common-zone {
      padding-top: 20px;
      padding-bottom: 20px;
      &__title {
        @include string(20px, 28px, -0.08px, 700, left, var(--black));
        margin-bottom: 20px;
      }
      &__list {
        li {
          padding: 24px 0;
          display: grid;
          grid-template-columns: auto 24px;
          gap: 8px;
          align-items: center;
          cursor: pointer;
          &:not(:last-of-type) {
            border-bottom: 1px solid var(--gray200);
          }
          .icon {
            @include same(24px);
          }

          .title {
            display: grid;
            grid-template-columns: 24px auto;
            gap: 8px;
            align-items: center;
            p {              
              @include string(16px, 24px, normal, 500, left, var(--black));
            }
          }
        }
      }
    }
  }
}

.editProfile {
  height: 100%;
  display: grid;
  grid-template-rows: 44px 1fr;
  &__inner {
    background-color: var(--gray100);
    padding: 26px 20px 20px;
    display: grid;
    grid-template-rows: 1fr 56px;
    gap: 26px;
    align-items: space-between;
    .body {
      .user-data-container {
        display: grid;
        grid-auto-rows: auto;
        gap: 24px;
        width: 100%;
        .data-box {
          width: 100%;
          &.rows {
            @include flex(space-between, center, row);
          }
          &__title {
            margin-left: 8px;
            p {
              @include string(12px, 16px, normal, 600, left, var(--gray700));    
              display: inline-block;          
            }
            span {
              @include string(12px, 16px, normal, 600, left, var(--gray500));    
              margin-left: 2px;
            }
          }
          .user-nickname {
            @include string(16px, 24px, normal, 400, left, var(--black));              
            width: 100%;
            padding: 16px;
            border: 1px solid var(--gray200);
            box-sizing: border-box;
            margin-top: 4px;
            border-radius: 4px;
            background: var(--white);
            &::placeholder {
              @include string(16px, 24px, normal, 400, left, var(--gray500));                
            }
          }
          .type-btn-wrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 15px;
            align-items: center;
            padding: 8px;
            height: 84px;
            .type-btn {
              @include string(50px, normal, normal, 500, center, var(--gray300));   
              height: 100%;
              border-radius: 8px;
              background-color: var(--white);
              &.F {
                color: var(--white);
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.04), 0px 3px 8px 0px rgba(0, 0, 0, 0.15), 0px 3px 1px 0px rgba(0, 0, 0, 0.06);
                background: var(--pink06);
              }
              &.T {
                color: var(--white);
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.04), 0px 3px 8px 0px rgba(0, 0, 0, 0.15), 0px 3px 1px 0px rgba(0, 0, 0, 0.06);
                background: var(--blue04);
              }
            }
          }
        }
      }
    }
    .foot {
      display: grid;
      grid-auto-rows: auto;
      button {
        @include flex;
        @include string(16px, 24px, normal, 700, center, var(--white));
        background-color: #9452D6;
        border-radius: 8px;
        // padding: 16px 8px;
        min-height: 56px;
  
        &:disabled {
          background-color: var(--gray300);
          color: var(--gray600);
          cursor: default;
        }
      }
    }
  }
}

.deleteComplete {
  background-color: var(--white);
  height: 100%;
  &__inner {
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr 56px;
    height: calc(100% - 40px);
    .body {
      display: grid;
      grid-template-rows: auto 89px;
      justify-items: center;
      height: calc(100% - 50px); 
      margin-bottom: 50px;
      &__desc {
        @include flex;
        p {
          @include string(20px, 28px, -0.08px, 700, center, var(--gray800));
          margin-bottom: 12px;
        }
        span {
          @include string(16px, 24px, normal, 500, center, var(--gray800));
        }
      }
      .logo {
        @include size(173px, 80px);
      }
    }
    .foot {
      display: grid;
      grid-auto-rows: auto;
      button {
        @include string(16px, 24px, normal, 700, center, var(--white));
        background-color: var(--purple06);
        border-radius: 4px;
      }
    }
  }
}

.deleteAccount {
  height: 100%;
  display: grid;
  grid-template-rows: 44px 1fr;
  &__inner {
    padding: 26px 0 0;
    display: grid;
    grid-template-rows: 1fr 124px;
    gap: 16px;
    align-items: space-between;
    position: relative;
    .body {
      padding: 0 20px 20px;
      .delete-data-container {
        display: grid;
        grid-auto-rows: auto;
        gap: 30px;
        .info-wrapper {
          display: grid;
          grid-auto-rows: auto;
          gap: 30px;
          &__title {
            @include string(20px, 28px, -0.08px, 700, left, var(--black));   
          }
          ul {
            li {
              margin-left: 8px;
              &:not(:last-of-type) {
                margin-bottom: 8px;
              }
              p {
                @include string(14px, 22px, normal, 500, left, var(--gray700));   
                text-indent: -8px;
                margin-left: 8px;
                &::before {
                  content: "•";
                  display: inline-block;
                  margin-right: 7px;
                  margin-left: 5px;
                }
              }
            }
          }
        }
      }
      .delete-data-form {
        display: grid;
        grid-auto-rows: auto;
        gap: 10px;
        &__title {
          @include string(12px, 16px, normal, 600, left, var(--gray500));   
          span {
            margin-right: 5px;
          }
        }
        &__inner {
          li {
            min-height: 48px;
            .row {
              @include flex(flex-start, center, row);
              p {
                @include string(14px, 22px, normal, 500, left, var(--black));   
              }
            }
            .reason-textarea {
              @include scrollCustomSmall(var(--purple06));
              @include string(14px, 22px, normal, 500, left, var(--black));
              padding: 10px 12px;
              min-height: calc(130px - 20px);
              max-height: calc(130px - 20px);
              resize: none;
              border-radius: 8px;
              background: var(--gray200);
              width: calc(100% - 24px);
              &::placeholder {
                @include string(14px, 22px, normal, 500, left, var(--gray500));   
                white-space: pre-line;             
              }
            }
          }
        }
      }
    }
    .foot {
      position: sticky;
      bottom: 0;
      left: 0;
      display: grid;
      grid-auto-rows: 48px 56px;
      padding: 0 20px;
      background-color: var(--gray100);
      button {
        @include flex;
        @include string(16px, 24px, normal, 700, center, var(--white));
        background-color: #9452D6;
        border-radius: 4px;
        // padding: 16px 8px;
        min-height: 56px;
  
        &:disabled {
          background-color: var(--gray300);
          color: var(--gray600);
          cursor: default;
        }
      }
    }
  }
}